@charset "UTF-8";
/*
列表页
*/
.list {
  width: 1160px;
  height: 732px;
  margin: 0 auto;
  font-size: 14px;
}
.list li {
  width: 200px;
  padding: 10px;
  float: left;
  margin: 0 10px 10px 0;
  border: 1px solid #ccc;
  height: 310px;
  position: relative;
  transition: all 1s;
}
.list li p {
  width: 200px;
  height: 48px;
  line-height: 24px;
  overflow: hidden;
  color: #333333;
  display: block;
  max-height: 42px;
  font-size: 14px;
  overflow: hidden;
  word-break: break-all;
  margin: 8px auto 0;
}
.list li img {
  width: 200px;
  height: 200px;
  display: block;
}
.list li span {
  display: block;
  color: #ff6600;
}
.list li:hover {
  transform: translateY(-5%);
}
.list em {
  width: 30px;
  height: 30px;
  border: 1px solid red;
  color: red;
  margin-top: 10px;
}
.list i {
  width: 100px;
  height: 100px;
  border: 1px solid #eee;
  background-color: #ff784b;
  color: white;
}

.goods_list {
  width: 1200px;
  margin: auto;
}
.goods_list p {
  display: inline-block;
  line-height: 42px;
  margin-left: -650px;
  color: #0092d8;
  cursor: pointer;
  font-size: 14px;
}
.goods_list p:hover {
  color: #f60;
}
.goods_list .price {
  margin-top: -32px;
  margin-left: 90px;
  cursor: pointer;
}
.goods_list .price span {
  font-size: 14px;
  margin-left: 20px;
}
.goods_list .price i {
  vertical-align: middle;
  width: 10px;
  height: 9px;
  margin: 0 4px;
  line-height: 22px;
  overflow: hidden;
}
.goods_list .Price_choice {
  position: relative;
  display: none;
}
.goods_list .Price_choice ul {
  color: #333;
  position: absolute;
  width: 123px;
  height: 100px;
  border: 1px solid #eee;
  top: -11px;
  box-sizing: border-box;
  background: #fff;
  z-index: 50;
  left: 105px;
  top: -30px;
  border-top: none;
}
.goods_list .Price_choice ul li {
  z-index: 99;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.goods_list .Price_choice ul li:hover {
  color: #f60;
}

.pagelist {
  clear: both;
  width: 1170px;
  margin: 0 auto;
  text-align: right;
  padding-right: 20px;
  background-color: red;
}

.m-style {
  float: right;
  text-align: center;
}
.m-style span {
  float: left;
  margin: 0 5px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  color: #bdbdbd;
  font-size: 14px;
}
.m-style .active {
  float: left;
  margin: 0 5px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background: #e91e63;
  color: #fff;
  font-size: 14px;
  border: 1px solid #e91e63;
}
.m-style a {
  float: left;
  margin: 0 5px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background: #fff;
  border: 1px solid #ebebeb;
  color: #bdbdbd;
  font-size: 14px;
}
.m-style a:hover {
  color: #fff;
  background: #e91e63;
}

.m-style:before,
.m-style:after {
  content: "";
  display: table;
}

.m-style:after {
  clear: both;
  overflow: hidden;
}

.m-style .next,
.m-style .prev {
  font-family: "Simsun";
  font-size: 16px;
  font-weight: bold;
  width: 80px;
}

.detail_floating {
  position: fixed;
  top: 200px;
  right: 20px;
  z-index: 99;
  width: 80px;
}
.detail_floating .items {
  width: 62px;
  height: 64px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: #000;
  opacity: 0.75;
  border-bottom: 1px solid #5a5959;
  text-align: center;
  color: white;
  line-height: 28px;
}
.detail_floating .items i {
  font-size: 14px;
  color: white;
}
.detail_floating .items span {
  margin: 4px;
  color: red;
}
.detail_floating .items .gongzhonghao {
  right: 62px;
  top: -254px;
  width: 320px;
  height: 320px;
  /* border: 1px solid #c8c8c8; */
  background: black;
  z-index: 98;
  display: none;
}
.detail_floating .items .gongzhonghao span {
  position: absolute;
  left: 310px;
  top: 279px;
  color: white;
}

/*# sourceMappingURL=list.css.map */
